<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <% if current_user?(@user) %>
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-sm btn-primary" %>
        <% end %>
        　<%= l(@first_day, format: :middle) %>　時間管理表　
        <% if current_user?(@user) %>
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-sm btn-primary" %>
        <% end %>
      </td>
      <td>指定勤務開始時間　<%= format_basic_info(@user.designated_work_start_time) %><br>
          指定勤務終了時間　<%= format_basic_info(@user.designated_work_end_time) %></td>
      <td colspan="3"><br>基本勤務時間　<%= format_basic_info(@user.basic_work_time) %></td>
      <td><br>初日　<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名　<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.id %></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締日　<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="notice">
  <% if current_user.superior? && current_user?(@user) %>
    <p>
      <div>
        <%= "【 所属長承認申請のお知らせ 】" %>
      </div>

      <div>
        <%= link_to "【 勤怠変更申請のお知らせ 】", show_change_attendance_notice_user_attendance_path(@user), remote: true, style: "color: red;" %>
        <%= "【 勤怠変更申請のお知らせ 】" %>
      </div>

      <div>
        <% if @overwork_notice_sum > 0 %>
          <%= link_to "【 残業申請のお知らせ 】", show_overwork_notice_user_attendance_path(@user), remote: true, style: "color: red;" %>
          <span class="notice-count-border">
            <%= "#{@overwork_notice_sum}件の通知があります" %>
          </span>
        <% else %>
          <%= "【 残業申請のお知らせ 】" %>
        <% end %>
      </div>
    </p>
  <% end %>
</div>

<div class="btn-users-show">
  <% if current_user?(@user) %>
    <%= link_to "勤怠を編集", attendances_edit_change_attendance_request_user_path(date: @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", '#', method: :patch, class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ（承認済）", '#', method: :patch, class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>  
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2"><br>在社時間</th>
        <th rowspan="2"><br>備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2"><br>時間外時間</th>
        <th rowspan="2"><br>業務処理内容</th>
        <th rowspan="2"><br>指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <%
          css_class =
          case $days_of_the_week[day.worked_on.wday]
          when '土'
            'text-primary'
          when '日'
            'text-danger'
          end
        %>
        <tr>
          <td>
            <% if current_user?(@user) %>
              <%= link_to "残業申請", edit_overwork_request_user_attendance_path(@user,day), remote: true, class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %></td>
          <td>
            <% if current_user?(@user) %>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
              <% end %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= l(day.overwork_finish_time, format: :hour) if day.overwork_finish_time.present? %></td>
          <td><%= l(day.overwork_finish_time.floor_to(15.minutes), format: :min) if day.overwork_finish_time.present? %></td>
          <td><%= overworking_times(@user.designated_work_end_time, day.overwork_finish_time, day.overwork_next_day_checkmark) if day.overwork_finish_time.present? %></td>
          <td><%= day.overwork_business_process_content %></td>
          <td>
            <% if day.overwork_stamp_confirm_step == "申請中" %>
              <%= User.find(day.overwork_stamp_select_superior).name %>に残業申請中　
            <% elsif day.overwork_stamp_confirm_step == "承認" %>
              残業承認済　
            <% elsif day.overwork_stamp_confirm_step == "否認" %>
              残業否認　
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <th colspan="3">累計日数</th>
        <th colspan="6">総合勤務時間</th>
        <th>累計在社時間</th>
        <th rowspan="3", colspan="5"></th>
        <th>
          所属長承認　未
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              申請先上長の選択 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "勤怠", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </div>
        </th>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td>
          <% if current_user?(@user) %>
            <%= link_to "申請", '#', method: :patch, class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    </tfoot>    
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit_overwork_request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="show_overwork_notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="show_change_attendance_notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
